body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.title {
    font-size: 24px;
    color: #800080;
    margin-bottom: 20px;
}

.student-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.student-table th,
.student-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.student-table th {
    background-color: #800080;
    color: white;
    font-weight: bold;
}

.student-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
